@using StudentManagement.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentManagement.Models.Schedule
@using System.Linq;
@{
    var schedule = ViewBag.schedule;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="home">Schedule</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Lecturer">Lecturer Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="LecturerProfile">Hello @ViewBag.Lecturer.LecturerName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h3>Activity Detail</h3>
<div class="container-fluid">
    <table class="table">
        <tr>
            <td>Date:</td>
            @foreach (var item in ViewBag.schedule)
            {
                <td>
                    @Convert.ToDateTime(item.ScheduleDate).ToString("dd/MM/yyyy")

                </td>
            }

        </tr>
        <tr>
            <td>Slot:</td>
            @foreach (var item in ViewBag.schedule)
            {
                <td>@item.SlotId</td>
            }
        </tr>
        <tr>
            <td>Student group:</td>
            @foreach (var item in ViewBag.schedule)
            {
                <td>
                    <a asp-controller="Student" asp-action="ClassDetail" asp-route-classId=@item.ClassId>
                        @item.Class.ClassName
                    </a>
                </td>
            }
        </tr>
        <tr>
            <td>Instructor:</td>
            @foreach (var item in ViewBag.schedule)
            {
                <td>@item.Lecturer.LecturerName</td>
            }
        </tr>
        <tr>
            <td>Course:</td>
            @foreach (var item in ViewBag.schedule)
            {
                <td>@item.Subject.SubjectName</td>
            }
        </tr>
        <tr>
            <td>Course session number:</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Course session type:</td>
            <td></td>
        </tr>
        <tr>
            <td>Course session description:</td>
            <td></td>
        </tr>
        <tr>
            <td>Campus/Programme:</td>
            <td>FU-HL</td>
        </tr>
        <tr>
            <td>Attendance:</td>
            <td>
                @foreach (var item in ViewBag.schedule)
                {
                    @if (@item.Status == true)
                    {
                        <span style="color:green">
                            Attend
                        </span>
                    }
                    else
                    {
                        <span style="color:red">
                            Not yet
                        </span>
                    }
                }

            </td>
        </tr>
        <tr>
            <td>Booker:</td>
            <td>hoannn</td>

        </tr>
        <tr>
            <td>Record time:</td>
            <td></td>
        </tr>
    </table>
</div>