@using StudentManagement.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentManagement.Models.Schedule
@using System.Linq;
@{
    int count = 1;
    List<StudentAttended> listSA = ViewBag.listSA;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="home">Schedule</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Lecturer">Lecturer Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="LecturerProfile">Hello @ViewBag.Lecturer.LecturerName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h3>Class Detail</h3>
<div class="container-fluid">
    <button form="attendance" onclick="this.form.submit()" type="button" class="btn btn-success">Submit</button>
    <table class="table">
        <thead>
            <tr>
                <td>
                    INDEX
                </td>
                <td>
                    Full Name
                </td>
                <td>
                    Code
                </td>
                <td>
                    Present
                </td>
                <td>
                    Image
                </td>
            </tr>
        </thead>
        <tbody>
            <form id="attendance" asp-controller="Student" asp-action="CheckEditAttendance">
                @foreach (var item in ViewBag.student)
                {
                <tr>
                    <td>
                            @count
                    </td>
                    <td>
                            @item.StudentName
                    </td>
                    <td>
                            @item.StudentCode
                    </td>
                    <td>
                        <input @(listSA[count-1].StudentStatus == 2?"checked":"") value="@item.StudentId" type="checkbox" name="attendance"> 
                        <input type="hidden" name="scheduleId" value="@ViewBag.scheduleId">
                        <input type="hidden" name="classId" value="@ViewBag.classId">
                    </td>
                    <td>
                        <img src="/lib/img/@item.StudentImg" width="90px" height="90px">
                    </td>
                </tr>
                    count++;
                }
            </form>

        </tbody>

    </table>

</div>