@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="home">Schedule</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Student" asp-action="Student">Student Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Student" asp-action="StudentProfile">Hello @ViewBag.Student.StudentName</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Student" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <h1>Student Information</h1>

    <img style="height: 100px; width: 100px" src="~/lib/img/@ViewBag.Student.StudentImg" />

    <h3 style="font-weight: bold">Profile</h3>

    <table border="1px">
        <tr hidden>
            <td>Student ID</td>
            <td>@ViewBag.Student.StudentId</td>
        </tr>
        <tr>
            <td>Student Code</td>
            <td>@ViewBag.Student.StudentCode</td>
        </tr>
        <tr>
            <td>Student Name</td>
            <td>@ViewBag.Student.StudentName</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>@ViewBag.Student.StudentBofd.ToString("MM/dd/yyyy")</td>
        </tr>
        <tr>
            <td>Student Gender</td>
            @if (@ViewBag.Student.StudentGender == true)
            {
                <td>Male</td>
            }
            else
            {
                <td>Female</td>
            }
        </tr>
        <tr>
            <td>Email</td>
            <td>@ViewBag.Student.StudentEmail</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@ViewBag.Student.StudentAddress</td>
        </tr>
    </table>
    <a asp-controller="Student" asp-action="StudentUpdateProfile">Update Profile</a>

}
