@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@using StudentManagement.Models
@model StudentManagement.Models.Student;
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="home">Schedule</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Student">Student Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="StudentProfile">Hello @ViewBag.Student.StudentName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>User detail</h1>
<a asp-controller="Student" asp-action="StudentGrade" asp-route-id=@Model.StudentId>Grade</a>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h6>Login</h6>
                <p>@Model.StudentCode</p>
            </div>
            <div>
                <h6>Fullname</h6>
                <p>@Model.StudentName</p>
            </div>
            <div>
                <h6>Image</h6>
                <p>@Model.StudentImg</p>
            </div>
            <div>
                <h6>Email</h6>
                <p>@Model.StudentEmail</p>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>

</div>