@model IEnumerable<StudentManagement.Models.StudentGrade>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="home">Schedule</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Lecturer">Student Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="StudentProfile">Hello @ViewBag.Lecturer.LecturerName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Grade.GradeCategory.GradeCategoryName)
            </td>
            
           
                <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
