@using StudentManagement.Models
@using StudentManagement
@using PagedList.Mvc;
@model PagedList.IPagedList<News>


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="home">Schedule</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Student">Student Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="StudentProfile">Hello @ViewBag.Student.StudentName</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Student" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<br />
<div id="ctl00_mainContent_divContent">

    <ul>

        @foreach (News news in Model)
        {
            <li><a asp-controller="News" asp-action="ViewNews" asp-route-id="@news.Id">@news.Date - @news.Title<br /></a></li>
        }

    </ul><br />
    <div class="col-md-12 text-center">
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        <br />
        <br />
        <center>
            <nav aria-label="Page navigation example">
                <ul class="pagination">


                    @for (var i = 0; i < Model.PageCount; i++)
                    {
                        <li class="page-item"><a class="page-link" asp-controller="News" asp-action="List" asp-route-page="@(i+1)">@(i+1)</a></li>
                    }

                </ul>
            </nav>
        </center>

    </div>
</div>
